.productListContainer {
    margin: 2%;
    width: 50%;
    justify-content: center;
    align-content: center;
    align-items: center;
 }
 .productContainer {
    box-sizing: border-box;
    margin: 1%;
    padding: 1%;
    border: 1px solid #ebebeb;
    border-radius: 4px;
 }