.orderNavigatorHomeContainer {
    height: 100vh;
}
.orderNavigatorTopContainer {
    height: 10vh;
    padding: 1%;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
}
.orderNavigatorBottomContainer {
    height: 90vh;
}